<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Chimahon platform probe" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false">
        <service android:name="eu.kanade.tachiyomi.ui.dictionary.ScrollTranslateLookupAccessibilityService" android:exported="true" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter><action android:name="android.accessibilityservice.AccessibilityService" /></intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/probe_service" />
        </service>
    </application>
</manifest>
